<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="../static/css/custom.css">
    <title>fragments</title>
</head>

<body>
    <header>
        <div class="container-fluid p-4 border-fuente bg-resalte d-flex justify-content-between">
            <div class="logo d-flex">
                <div class="nf-logo">
                    <!--   <img src="../static/images/logo_NFF.png" alt="NF-Logo" class="nf-logo">-->
                    <img th:src="@{/images/logo_NFF.png}" alt="NF-Logo" class="nf-logo">

                </div>
                <div class="logotext">
                    <div class="nutrifusion-food">
                        <!-- <img src="../static/images/logo_nombre.png" alt="NutriFusion Food" class="nutrifusion-food"> -->
                        <img th:src="@{/images/logo_nombre.png}" alt="NutriFusion Food" class="nutrifusion-food">

                    </div>
                    <div class="slogan">
                        <p>Fusionando Sabor y Nutrición</p>
                    </div>
                </div>
            </div>
            <nav class="navbar-expand-lg d-inline-block col-md-6">
                <div class="container-fluid-nav mt-3 px-5 text-center">
                    <ul class="navbar px-3">
                        <li class="nav-item border-top border-fuente fs-4"><a href="/home"
                                class="nav-link active">INICIO</a></li>
                        <li class="nav-item border-top border-fuente fs-4"><a href="/recipes/categories"
                                class="nav-link active">CATEGORIAS</a></li>
                        <!--
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-fondo dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another action</button>
                                    <button class="dropdown-item" type="button">Something else here</button>
                                </div>
                            </div>
                        </li>
                        -->
                        <li>
                        <a class="nav-link dropdown-toggle border-top border-fuente fs-1"
                            id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            CATEGORIAS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/recipes">Todo</a>
                            <a class="dropdown-item" href="/recipes/categories/1">Salado</a>
                            <a class="dropdown-item" href="/recipes/categories/2">Postre</a>
                            <a class="dropdown-item" href="/recipes/categories/3">Bebida</a>
                            <a class="dropdown-item" href="/recipes/categories/4">Postre</a>
                        </div>
                        </li>
                        <li class="nav-item border-top border-fuente fs-1"><a href="/recipes"
                                class="nav-link active">RECETAS</a></li>
                        <li class="nav-item border-top border-fuente fs-2"><a href="/nutritionists"
                                class="nav-link active">PERFIL</a></li>
                    </ul>
                </div>
            </nav>
            <div class="signup-button d-inline rounded float-end">
                <button type="button" class="btn btn-info border mt-3 mx-3 p-2">SIGN UP</button>

            </div>

        </div>

        <!-- <hr class="header border border-fuente">-->
    </header>
    <br>

    <footer>
        <div class="container-fluid bg-resalte border-top border-fuente">
            <div class="icons text-center mt-3">
                <i class=" fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class=" fa-brands fa-linkedin"></i>
                <i class="  fa-brands fa-instagram"></i>
            </div>
            <p class="footer-text text-center mt-2">©2024 by NutriFusion Food</p>
            <br>
        </div>
    </footer>
</body>

</html>