<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/custom.css">

    <title>fragments</title>
</head>

<body>
<header th:fragment="header">
    <div class=" container-fluid text-center border-fuente bg-resalte">
        <div class="row justify-content-between text-center">
            <div class="col-12 col-sm-4 col-md-3 d-inline-block align-top">
                <div class="container-logo d-inline-block align-top pt-3">
                    <img th:src="@{/images/logo/logo_NFF.png}" alt="NF-Logo" class="nf-logo d-inline">
                </div>
                <div class="d-inline-block mt-3">
                    <div class="nutrifusion-food  d-none d-md-block ">
                        <img th:src="@{/images/logo/logo_nombre.png}" alt="NutriFusion Food" class="nutrifusion-food">

                    </div>
                    <div class="slogan d-none d-xl-block ">
                        <p th:text="#{menu.slogan}">Fusionando Sabor y Nutrición</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-6">
                <nav class="navbar-expand-md navbar-light  d-inline-block">
                    <div class=" mt-3">
                        <button class="navbar-toggler border-info" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarNavDropdown">
                            <ul class="navbar d-xs-block">
                                <li class="nav-item border-top border-fuente"><a
                                        th:href="@{'/' + '?lang=' + ${#locale.language}}"
                                        class="nav-link active" th:text="#{menu.home}">INICIO</a></li>

                                <li class="nav-item border-top border-fuente"><a
                                        th:href="@{'/recipes' + '?lang=' + ${#locale.language}}"
                                        class="nav-link active" th:text="#{menu.recipes}">RECETAS</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle border-top border-fuente"
                                       th:href="@{'/categories' + '?lang=' + ${#locale.language}}"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                       th:text="#{menu.categories}">
                                        CATEGORIAS
                                    </a>
                                    <ul class="dropdown-menu bg-fondo">
                                        <li><a class="dropdown-item" href="/recipes" th:text="#{menu.dropdown1}">Todo</a></li>
                                        <li>
                                            <hr class="dropdown-divider bg-fuente">
                                        </li>
                                        <li><a class="dropdown-item" href="/categories/1/recipes" th:text="#{menu.dropdown2}">Salado</a></li>
                                        <li><a class="dropdown-item" href="/categories/2/recipes" th:text="#{menu.dropdown3}">Postre</a></li>
                                        <li><a class="dropdown-item" href="/categories/3/recipes" th:text="#{menu.dropdown4}">Bebida</a></li>
                                        <li><a class="dropdown-item" href="/categories/4/recipes" th:text="#{menu.dropdown5}">Snack</a></li>
                                    </ul>
                                </li>
                                <li th:if="${@authService.getCurrentUserId() != null}" class="nav-item border-top border-fuente"><a
                                        th:href="@{'/users/'+${@authService.getCurrentUserId()} + '?lang=' + ${#locale.language}}"
                                        class="nav-link active" th:text="#{menu.profile}">PERFIL</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-4 col-sm-1 col-md-1 mt-4">
                <div class="row justify-content-center">
                    <a href="?lang=es">
                        <img th:src="@{/images/lang_es.png}" alt="spain"/>
                    </a>
                </div>

                <div class="row justify-content-center">
                    <a href="?lang=en">
                        <img th:src="@{/images/lang_en.png}" alt="usa"/>
                    </a>
                </div>
            </div>
            <div class="col-8 col-sm-3 col-md-2 d-inline rounded mt-4 mb-2">
                <div class="row justify-content-center">
                    <div class="col-10 bg-info justify-content-center p-1">
                        <div class="col-12 justify-content-center text-center bg-info border border-fondo bw-1">
                            <a href="/users/login/add">
                                <h6 class="text-fondo justify-content-center pt-1 ">Log in</h6>
                            </a>
                            <!--<button type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
                                <h6 class="text-fondo justify-content-center pt-1 ">Log in</h6>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr class="header border border-fuente">-->
    <!-- <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <form class="m-2 g-3 was-validated" th:action="@{/nutritionists/1}" th:object="${user}" method="post" novalidate>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control border-info" id="name"
                            placeholder="Nombre" th:field="*{name}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control border-info" id="username"
                            placeholder="Nombre de Usuario" th:field="*{username}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label for="surname1" class="form-label">Apellido 1</label>
                        <input type="text" class="form-control border-info" id="surname1"
                            placeholder="Apellido 1" th:field="*{surname1}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label for="surname2" class="form-label">Apellido 2</label>
                        <input type="text" class="form-control border-info" id="surname2"
                            placeholder="Apellido 2" th:field="*{surname2}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 my-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control border-info" id="email"
                            placeholder="ejemplo@correo.com" th:field="*{email}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control border-info" id="password"
                            placeholder="Password" th:field="*{password}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control border-info" id="birthDate"
                            placeholder="dd/mm/aaaa" th:field="*{birthDate}" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 my-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input border-info" id="nutritionist">
                            <label for="nutritionist" class="form-check-label text-info">¿Eres un nutricionista?</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center m-2 my-2">
                    <div class="col-12 col-md-6 col-lg-4 bg-info p-1">
                        <div class="col-12 bg-info pt-2 border border-fondo text-center bw-5">
                            <button type="submit" class="btn btn-info text-fondo">INICIAR SESIÓN</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>
    </div> -->
</header>
<br>

<footer>
    <div class="container-fluid bg-resalte border-top border-fuente">
        <div class="icons text-center mt-3">
            <i class=" fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class=" fa-brands fa-linkedin"></i>
            <i class="  fa-brands fa-instagram"></i>
        </div>
        <p class="footer-text text-center mt-2">©2024 by NutriFusion Food</p>
        <br>
    </div>
</footer>
<script src="../static/js/Desplegable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
</body>
</html>