<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <title>Profile</title>
</head>
<body>
<header>
    <div class="logo">
        <div class="nf-logo">
            <img th:src="@{/images/logo_NFF.png}" alt="NF-Logo" class="nf-logo">
        </div>
        <div class="logo&text">
            <div class="nutrifusion-food">
                <img th:src="@{/images/logo_nombre.png}" alt="NutriFusion Food" class="nutrifusion-food">
            </div>
            <div class="logo-text">
                <p>Fusionando Sabor y Nutrición</p>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/home" class="Home">INICIO</a></li>
            <li><a href="/recipes/categories" class="Category">CATEGORIAS</a></li>
            <li><a href="/recipes" class="Recipe">RECETAS</a></li>
            <li><a href="/nutritionist" class="Profile">PERFIL</a></li>
        </ul>
    </nav>
    <div class="signup-button">
        <button>SIGN UP</button>
    </div>
</header>
<h1>Nombre de usuario</h1>
<h2>Nombre: </h2>
<p th:text="|${nutritionist.name} ${nutritionist.surname1} ${nutritionist.surname2}|"></p>
<h2>Email: </h2>

<h2>Fecha de nacimiento: </h2>
<p th:text="${nutritionist.birthDate}"></p>
    <br><br><br>
    <footer>
        <br>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <p class="footer">©2024 by NutriFusion Food</p>
    </footer>
</body>
</html>