<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/custom.css}"> <!--link para verlo con chrome enlace css-->
    <link rel="stylesheet" href="../static/css/custom.css"> <!-- link verlo previsualizador enlace css-->
    <title>Recipe List</title>
</head>

<body>
<header th:insert="fragments.html :: header">Header</header>
<h1 th:text="${category}"></h1>
    <ul>
        <a th:each="recipe : ${recipeList}" th:href="@{${'/recipes/' + recipe.id}}">
            <li>
                <h1 th:text="${recipe.name}"></h1>

                <a th:href="@{${'/recipes/categories/' + recipe.category.id}}"><h2 th:text="${recipe.category.name_es}">Texto por defecto</h2></a>
                <ul>
                    <a th:href="@{${'/nutritionists/' + recipe.user.id}}"><li th:text="|${'Nutricionista: ' + recipe.user.name}|"></li></a>
                    <li th:text="|${'Tiempo de preparación: ' + recipe.time + ' min'}|">
                    <li>Alergenos: </li>
                    <li th:text="|${'Descripción: ' + recipe.description}|"></li>
                </ul>
            </li>
        </a>
        <hr>
    </ul>
    <br><br>
    <h4><a href="/recipes/add">Añadir receta</a></h4>
    <br><br>
<footer th:insert="fragments.html::footer"></footer>
</body>

</html>