<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/custom.css}"> <!--link para verlo con chrome enlace css-->
    <link rel="stylesheet" href="../static/css/custom.css"> <!-- link verlo previsualizador enlace css-->
    <title>Recipe List</title>
</head>

<body>
<header th:insert="fragments.html :: header">Header</header>
<main class="bg-secondary">
    <h1 class="title-categories bg-warning text-center fw-normal border-top border-primary py-3" th:text="${category}"></h1>
    <ul>
        <a th:each="recipe : ${recipeList}" th:href="@{${'/recipes/' + recipe.id}}">
            <div class="recipes-info bg-secondary p-2 d-flex">
                <div class="recipe-picture flex-fill">
                    <img th:src="@{/images/}+recipe_+${recipe.id}+.png" alt="Recipe Image">
                </div>
                <div class="recipe-data p-2 flex-fill justify-content-center align-center border-top py-3">
                    <li class="recipe-category-name fw-normal">
                        <h1 class="recipe-name text-primary text-uppercase
                        " th:text="${recipe.name}"></h1>
                        <a class="text-primary text-uppercase" th:href="@{${'/recipes/categories/' + recipe.category.id}}"><h2 th:text="${recipe.category.name_es}">Nombre de Categoria</h2></a>
                    <ul class="recipe-all-data text-info">
                        <a class="text-info" th:href="@{${'/nutritionists/' + recipe.user.id}}"><li th:text="|${'Nutricionista: ' + recipe.user.name}|"></li></a>
                        <li th:text="|${'Tiempo de preparación: ' + recipe.time + ' min'}|">
                        <li>Alergenos: </li>
                        <li th:text="|${'Descripción: ' + recipe.description}|"></li>
                    </ul>
                    </li>
                </div>
            </div>
        </a>
        <hr>
    </ul>
    <br><br>
    <h4><a href="/recipes/add">Añadir receta</a></h4>
    <br><br>
</main>
<footer th:insert="fragments.html::footer"></footer>
</body>

</html>