<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <title>Formulario recetas</title>
</head>
<body>
<header>
    <div class="logo">
        <div class="nf-logo">
            <img th:src="@{/images/logo_NFF.png}" alt="NF-Logo" class="nf-logo">
        </div>
        <div class="logo&text">
            <div class="nutrifusion-food">
                <img th:src="@{/images/logo_nombre.png}" alt="NutriFusion Food" class="nutrifusion-food">
            </div>
            <div class="logo-text">
                <p>Fusionando Sabor y Nutrición</p>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/home" class="Home">INICIO</a></li>
            <li><a href="/recipes/categories" class="Category">CATEGORIAS</a></li>
            <li><a href="/recipes" class="Recipe">RECETAS</a></li>
            <li><a href="/profile" class="Profile">PERFIL</a></li>
        </ul>
    </nav>
    <div class="signup-button">
        <button>SIGN UP</button>
    </div>
</header>
<!--  Introducir un objeto receta nuevo, el listado de categorias, listado de ingredientes  -->
<form action="#" th:action="@{/recipes}" th:object="${recipe}">
    <label for="title">Titulo de la receta</label>
    <input id="title" type="text" th:field="*{name}" maxlength="50">
    <p>Categoria de la receta</p>
    <!--
    <select name="category" th:field="*{category.id}">
        <option th:each="category:${categoryList}" th:value="${category.id}" th:text="category.name"></option>
    </select>-->
    <label for="time">Tiempo de preparacion</label>
    <input id="time" type="number" th:field="*{time}"><br>
   <!--
    <select name="ingredient" th:field="*{ingredient.id}">
        <option th:each="ingredient:${ingredientList}" th:value="${ingredient.id}" th:text="ingredient.name"></option>
    </select>
    -->
    <label for="descripcion">Descripion</label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea><br>
    <label for="pasos">Pasos a seguir</label>
    <textarea name="pasos" id="pasos" cols="30" rows="10"></textarea><br>

    <input type="submit" value="Crear">
</form>

<footer>
    <br>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-instagram"></i>
    <p class="footer">©2024 by NutriFusion Food</p>
    <br>
</footer>
</body>
</html>