<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/recipeList.css">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
    <title>Recipe List</title>
</head>

<body>
    <header>
        <div class="logo">
            <div class="nf-logo">
                <img src="./images/logo_NFF.png" alt="NF-Logo" class="nf-logo">
            </div>
            <div class="logo&text">
                <div class="nutrifusion-food">
                    <img src="./images/logo_nombre.png" alt="NutriFusion Food" class="nutrifusion-food">
                </div>
                <div class="logo-text">
                    <p>Fusionando Sabor y Nutrición</p>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="home.html" class="Home">INICIO</a></li>
                <li><a href="category.html" class="Category">CATEGORIAS</a></li>
                <li><a href="recipeList.html" class="Recipe">RECETAS</a></li>
                <li><a href="profile.html" class="Profile">PERFIL</a></li>
            </ul>
        </nav>
        <div class="signup-button">
            <button>SIGN UP</button>
        </div>
    </header>
    <ul>
        <a th:each="recipe : ${recipeList}" th:href="@{${'/recipes/' + recipe.id}}">
            <li th:text="|${recipe.name} (${recipe.category}|">Texto por defecto</li>
        </a>
    </ul>
    <br><br><br>
    <footer>
        <br>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <p class="footer">©2024 by NutriFusion Food</p>
    </footer>
</body>

</html>