<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/custom.css}"> <!--link para verlo con chrome enlace css-->
    <link rel="stylesheet" href="../static/css/custom.css"> <!-- link verlo previsualizador enlace css-->
    <title>Receta</title>
</head>
<body>
<header th:insert="fragments.html :: header">Header</header>
<h1 th:text="${recipe.name}"></h1>


<h3 th:text="${recipe.category.name_es}"></h3>

<!--<ul>
    <li th:each="ingredient : ${recipe.ingredientList}" th:text="ingredient"></li>
</ul>
<ul>
    <li th:each="tool : ${recipe.toolList}" th:text="tool"></li>
</ul>-->


<h4>Tiempo</h4>
<p th:text="${recipe.time}"></p>
<h4>Alergenos</h4>
<h4>Nombre Nutricionista</h4>
<p th:text="${recipe.user.name}"></p>
<h4>(ICONO CORAZON) Añadir a favoritos</h4>
<h2>Ingredientes</h2>

<h2>Utensilios</h2>

<h2>Preparacion</h2>
<p th:text="${recipe.description}"></p>
<br><br><br>
<footer th:insert="fragments.html::footer"></footer>
</body>
</html>