<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <title>Nuevo Usuario</title>
</head>
<body>
    <div class="container">
        <header th:insert="fragments.html :: header">Header</header>
        <main class="content">
            <form class="m-2 g-3 was-validated" th:action="@{/nutritionists/1}" th:object="${user}" method="post" novalidate>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label th:text="|#{userForm.name}|" for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control border-info" id="name" name="name"
                               th:field="*{name}" required></div>

                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label th:text="|#{userForm.username}|" for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control border-info" id="username"
                               th:field="*{username}" required></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label th:text="|#{userForm.surname1}|" for="surname1" class="form-label">Apellido 1</label>
                        <input type="text" class="form-control border-info" id="surname1"
                               th:field="*{surname1}" required></div>

                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label th:text="|#{userForm.surname2}|" for="surname2" class="form-label">Apellido 2</label>
                        <input type="text" class="form-control border-info" id="surname2"
                               th:field="*{surname2}" required></div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 my-2">
                        <label th:text="|#{userForm.email}|"  for="email" class="form-label">Email</label>
                        <input type="email" class="form-control border-info" id="email"
                           th:field="*{email}" required>
                        <div  th:text="|#{userForm.message.addEmail}|" class="invalid-feedback">Añade un Correo electronico</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label th:text="|#{userForm.password}|"  for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control border-info" id="password"
                            th:field="*{password}" required>
                        <div  th:text="|#{userForm.message.addpassword}|" class="invalid-feedback">Añade una contraseña</div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <label  th:text="|#{userForm.birthdate}|" for="birthDate" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control border-info" id="birthDate"
                          th:field="*{birthDate}" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 my-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input border-info" id="nutritionist">
                            <label th:text="|#{userForm.nutritionist}|"  for="nutritionist" class="form-check-label text-info">¿Eres un nutricionista?</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center m-2 my-2">
                    <div class="col-12 col-md-6 col-lg-4 bg-info p-1">
                        <div class="col-12 bg-info pt-2 border border-fondo text-center bw-5">
                            <button type="submit" class="btn btn-info text-fondo" >
                                <h4 th:text="|#{userForm.button.signup}|" class="text-fondo d-none d-sm-block">INICIAR SESION</h4>
                                <h6 th:text="|#{userForm.button.signup}|" class="text-fondo d-block d-sm-none">INICIAR SESION</h6>
                                </button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <footer th:insert="fragments.html::footer"></footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
</html>