//importar fuentes
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// variables simples
/*$font_title: Forum;
$font_body: Playfair Display;
$font-weight-bold: 580;
$bg_color: #D0EEF4;
$font_color: #000000;
$highlight_color: #F1856A;
$title_color: #006272;
$theme-colors: (
  "primary": $font_color,
  "secondary": $bg_color,
  "warning": $highlight_color,
  "info": $title_color
);
$base_size: 1.2rem;
$title_size: $base_size*3.5;
$title_normal: $base_size*1.5;
$subtitle_size: $base_size*2.5;
$info: $base_size*1;*/

$font-family: (
  "titulo":Forum,
  "cuerpo":Playfair Display,
);
$font-weights: (
  "light":300,
  "regular":400,
  "bold":580
);
$font-styles: (
  "cursiva":italic,
  "normal":normal
);
$theme-colors: (
  "fuente": #000000,
  "fondo": #D0EEF4,
  "resalte": #F1856A,
  "info": #006272
);
$font-sizes: (
  "cuerpo":1.1rem,
  "subtitle":2rem,
  "section":2.5rem,
  "title":3.5rem,
  "nav ul li":1.5rem,
  "footer p":1.3rem
);
$border-widths: (
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 8rem
);
$border-radius: 1.5rem;
$input-border-width:4px;
/*
$grid-breakpoints: (
  //tablets y moviles, logo pequeño desplegable y boton
  xs: 315px,
  sm: 425px,
  //tamaño portatil mediano, quitar nombre y slogan con navbar y boton
  md: 768px,
  lg: 1024px,
  // tamaño pantallas grandes, logo,nombre,slogan navbar y boton
  xl: 1200px,
  xxl: 1440px
); */

.dropdown-menu .form-check {
  padding: 5px;
}

  //variables compuestas
  //cualquier texto general
$cuerpo: (
    "weight": map-get($font-weights, "regular"),
    "size": map-get($font-sizes, "cuerpo"),
    "family": map-get($font_family, "cuerpo"),
    "style": map-get($font_styles, "normal"),
    "color": map-get($theme-colors, "fuente")
);
//titulos tipo h1 de las paginas
$titulo: (
  "weight": map-get($font-weights, "regular"),
  "size": map-get($font-sizes, "title"),
  "family": map-get($font_family, "titulo"),
  "style": map-get($font_styles, "normal"),
  "color": map-get($theme-colors, "fuente")
);
//titulos de secciones y recetas
$seccion: (
  "weight": map-get($font-weights, "bold"),
  "size": map-get($font-sizes, "section"),
  "family": map-get($font_family, "titulo"),
  "style": map-get($font_styles, "cursiva"),
  "color": map-get($theme-colors, "fuente")
);
//textos grandes
$subtitulo: (
  "weight":map-get($font-weights, "regular"),
  "size": map-get($font-sizes, "subtitle"),
  "family": map-get($font_family, "cuerpo"),
  "style": map-get($font_styles, "normal"),
  "color": map-get($theme-colors, "fuente")
);
//texto dinamicos en listados
$info: (
  "weight":map-get($font-weights, "regular"),
  "size": map-get($font-sizes, "cuerpo"),
  "family": map-get($font_family, "titulo"),
  "style": map-get($font_styles, "normal"),
  "color": map-get($theme-colors, "info")
);
$menu: (
  "weight":map-get($font-weights, "regular"),
  "size": map-get($font-sizes, "nav ul li"),
  "family": map-get($font_family, "titulo"),
  "style": map-get($font_styles, "normal"),
  "color": map-get($theme-colors, "fuente")
);

//estilos globales, creo que no se usa
$body-bg: map-get($theme-colors, "fondo");
$body-color: map-get($theme-colors, "fuente");
$headings-color: map-get($theme-colors, "info");

//importar variables de bootstrap con las modificaciones anteriores
@import '../../static/bootstrap/scss/functions';
@import '../../static/bootstrap/scss/variables';

@import "../../static/bootstrap/scss/bootstrap.scss";


//HEADER cambiar a medidas relativas
.nf-logo {
  height: 70px;
}

.nutrifusion-food {
  height: 40px;
  margin-left: 3px;
}


ul {
  list-style: none
}

//FOOTER
.content {
  flex: 1;
}

.container {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

//HOME 
.nutrifusion-food-welcome {
  height: 4rem;
}


.heart-icon,
.globe-icon {
  font-size: map-get($font-sizes, "title");
}

.img-aboutus {
  width: 40vw;
}

.img-recipes {
  width: 13vw;
}

.recipe-picture {
  width: 49.5vw;
}

.recipe-data {
  width: 49.5vw;
  margin-left: 10px;
}

.recipe-tags {
  width: 13vw;
  height: 40px;
  letter-spacing: 2px;
  position: relative;
}

.recipe-tags ::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #D0EEF4;
}

//RECIPE LIST
.recipe-picture img {
  height: 400px;
  width: 100%;
}


//PROFILE

.profile-picture {
  max-height: 55vh;
  width: 90%;
}
 .recipe-profile{
  height: 50vh;
  width: 100%;
 }


/*.welcome-text, .title-categories{
  font-size: $title_size;
}

.categories-text, .aboutus-text{
  font-size: $subtitle_size;
}

.heart-icon, .message,
.title-recipe, .title-drink,
.title-maindish, .title-desserts,
.title-snacks, .globe-icon,
.NFF-title{
  font-size: $title_normal;
}

.description-aboutus, .recipe-all-data{
  font-size: $info;
}
.categories-text, .title-categories,
.recipe-name{
  font-style: italic;
}

.welcome-text, .categories-text,
.aboutus-text, .title-categories,
.recipe-category-name, .recipe-all-data{
  font-family: $font_title;
}

.message, .title-recipe,
.title-drink, .title-maindish, 
.title-desserts, .title-snacks,
.description-aboutus{
  font-family: $font_body;
}
.img-aboutus{
  width: 40vw;
}

.recipe-picture,.recipe-data{
  flex: 1;
}

.recipe-picture img {
  height: 400px;
  width: 100%;
}
*/



//Añadir nuevas variable a continuacion de la importadas por bootstrap
@mixin apply-font-style($style-map) {
  font-weight: map-get($style-map, "weight");
  font-size: map-get($style-map, "size");
  font-family: map-get($style-map, "family");
  font-style: map-get($style-map, "style");
  color: map-get($style-map, "color")
}

h1 {
  @include apply-font-style($titulo);
}

h2 {
  @include apply-font-style($seccion);
}

h3 {
  @include apply-font-style($subtitulo);
}

nav li a {
  @include apply-font-style($menu);
}

h5 {
  @include apply-font-style($info);
}

p {
  @include apply-font-style($cuerpo);
}