//importar fuentes
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// variables propias
$font_title: Forum;
$font_body: Playfair Display;
$font-weight-bold: 580;
$bg_color: #D0EEF4;
$font_color: #000000;
$highlight_color: #F1856A;
$title_color: #006272;
$base_size: 1.2rem;
$title_size: $base_size*3.5;
$title_normal: $base_size*1.5;
$subtitle_size: $base_size*2.5;
$info: $base_size*1;
$border_nav: 1.5px;
$border_space: 3px;


//variables de bootstrap
$theme-colors: (
  "primary": $font_color,
  "secondary": $bg_color,
  "warning": $highlight_color,
  "info": $title_color
);

$margin: 1rem;
$body-color: $font_color;
$heading-color: $title_color;
$body-margin: 1rem;
$body-font-size: 20px;
$border-width: 1px;
$border-widths: (
  1: $border-nav,
  2: $border-space
);

.nf-logo {
  height: 70px;
}

.nutrifusion-food {
  height: 40px;
  margin-left: 3px;
}

.slogan {
  margin-left: 5px;
}

.nutrifusion-food-welcome {
  height: 90px;
}

ul {
  list-style: none
}

.welcome-text, .title-categories{
  font-size: $title_size;
}

.categories-text, .aboutus-text{
  font-size: $subtitle_size;
}

.heart-icon, .message,
.title-recipe, .title-drink,
.title-maindish, .title-desserts,
.title-snacks, .globe-icon,
.NFF-title{
  font-size: $title_normal;
}

.description-aboutus, .recipe-all-data{
  font-size: $info;
}

.categories-text, .title-categories,
.recipe-name{
  font-style: italic;
}

.welcome-text, .categories-text,
.aboutus-text, .title-categories,
.recipe-category-name, .recipe-all-data{
  font-family: $font_title;
}

.message, .title-recipe,
.title-drink, .title-maindish, 
.title-desserts, .title-snacks,
.description-aboutus{
  font-family: $font_body;
}
.img-aboutus{
  width: 40vw;
}

.recipe-picture,.recipe-data{
  flex: 1;
}

.recipe-picture img {
  height: 400px;
  width: 100%;
}

//importar variables de bootstrap
@import '../../static/bootstrap/scss/functions';
@import '../../static/bootstrap/scss/variables';

@import "../../static/bootstrap/scss/bootstrap.scss";